<!DOCTYPE html>
<html>
<head>
    <title>Celo Stablecoin Balances</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Celo Stablecoin Balances</h1>
        <p id="cUSDBalance">cUSD Balance: <%= cUSD %></p>
        <p id="cEURBalance">cEUR Balance: <%= cEUR %></p>
    </div>
</body>
</html>